<ion-header align="center">
  <ion-toolbar class="head">
      <ion-buttons slot="start">
        <ion-back-button style="color: #ffffff;"></ion-back-button>
      </ion-buttons>    
    <ion-title class="title" style="margin-top: 5px;">{{arrayPosts.nombre}}</ion-title>
    <ion-icon name="contact" class="ion-float-end" style="margin-top: -15px; margin-right: 5px; color: #ffffff; zoom: 2;" (click)="presentActionSheet()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img [src]="arrayPosts.foto?arrayPosts.foto:imgNotCar" height="250px">
  <div>  
    <ion-item>    
        <p align="justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia illum quisquam dolorem beatae! Enim saepe quia aspernatur distinctio officia neque, ea harum asperiores voluptas facilis repudiandae soluta hic maxime cumque.
        </p>
    </ion-item>     
    <ion-item>
      <ion-icon name="pin" style="zoom: 2;"></ion-icon>
      <ion-label>
        <h3>Cuidad:</h3>        
        <h3>Dirección</h3> 
         
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call" style="zoom: 2;"></ion-icon>      
      <ion-label>
        <h3>Contacto</h3>        
      <p>
        Numero de Telefono
      </p>
      <p>
        Numero de Celular
      </p>
      </ion-label>
    </ion-item>    
  </div>
  <div>
    <ion-grid>
      <ion-row >
        <ion-col size="6" *ngFor="let item of arrayPosts.publicaciones">
        <ion-card align="center" (click)="detallePublicacion(item)">
          <ion-card-title>{{item.marca}}</ion-card-title>
          <img [src]="item.foto?item.foto:imgNotCar" alt="" height="150px"/>       
          <ion-card-subtitle>Precio {{item.precio}} $</ion-card-subtitle>
        </ion-card>        
      </ion-col>        
      </ion-row>
    </ion-grid>
  </div>

  
</ion-content>


