<ion-header >
    <ion-toolbar class="head">
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title  align="center" color="light">Mi Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
<ion-content>
<div align="center">
  <div>
  <img [src]="data.foto ? data.foto : imageOficial">
</div>
  <ion-icon (click)="changePhoto()" name="camera" class="icod" ></ion-icon>

</div>
<div >
<ion-item class="box">
  <ion-label >Nombre:</ion-label>
  <ion-input [(ngModel)]="data.nombre_completo"></ion-input>
</ion-item>
<br>

<ion-item class="box">
  <ion-label>E-mail:</ion-label>
  <ion-input [(ngModel)]="data.email"></ion-input>
</ion-item>
<br>
<ion-item class="box">
  <ion-label>Numero de Celular:</ion-label>
  <ion-input [(ngModel)]="data.celular"></ion-input>
</ion-item>
<br>
<ion-item class="box">
    <ion-label>Cumpleaños:</ion-label>
    <!-- <ion-datetime displayFormat="YYYY-MM-DD" ></ion-datetime> -->
    <input type="date" [(ngModel)]="data.fecha_nacimiento" placeholder="Cumpleaños" >
  </ion-item>
  <br>
</div>
<div>
  <ion-button expand="block" style="--background: linear-gradient(135deg, var(--ion-color-theme), var(--ion-color-themelight)); margin-left: 15px; 
  margin-right: 15px;" (click)="guardar()">
    Guardar Cambios
  </ion-button>
</div>
</ion-content>
