img {
    
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: solid 3px #505050;
    display: inline;
    box-shadow: 0 0 28px rgba(255,255,255, .65);    
    
  }
         
