<ion-header align="center">
  <ion-toolbar class="head">
    <ion-buttons slot="start">
      <ion-menu-button  style="color: #ffffff;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title"> {{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>