.datos{    
    margin-left: 15px; 
    margin-right: 15px;
}
ion-thumbnail{
    width: 150px;
    height: 100px;
}
.head{
    --background: #f28f29;
}
app-footer{
    height: 60px;
  }

