<app-header titulo= "AutoVenta"></app-header>


<ion-content class="ion-padding">
  <ion-list>
      <ion-item *ngFor="let item of arrayPosts" (click)="detallePublicacion(item)">
        <ion-thumbnail>
          <img [src]="item.foto ? item.foto: imgNotCar" />
        </ion-thumbnail>
          <!-- <ion-img [src]="item.imagenes_autos[0]" (click)="detalles()" style="width: 100px; height: 90px;"></ion-img> -->
          <ion-label class="datos">
            <h3>{{ item.nombre }}</h3>
            <p>{{ item.ciudad }}</p>
            <ion-button class="head" >{{ item.precio }} $</ion-button>
           
                     <!-- <ion-icon name="heart-half" class="ion-float-end" style="zoom:2.0;"></ion-icon> -->
          </ion-label>
          <div align="right">
            <label >Ver</label> 
           </div>
        </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Cargando mas...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<app-footer></app-footer>