<app-header titulo="Favoritos"></app-header>

<ion-content> 
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let post of arrayPosts">
          <ion-card class="box" (click)="DetalleAuto()">
            <img src="/assets/search.png" alt="" />
            <h3 ion-text-center>Auto-Venta</h3>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<app-footer></app-footer>
