<ion-header>
  <ion-toolbar class="head">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title align="center" color="light">Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  ion-padding>  
    <ion-grid>
      <ion-row >
        <ion-col size="6" *ngFor="let item of loadEstadisticas">
        <ion-card class="box"  >
          <div align="center">
              <ion-icon  name="{{item.icon}}"></ion-icon>
              <p>{{item.cantidad}}</p>
              <h2>{{item.titulo}}</h2>
          </div>
          <!-- <img [src]="post.foto" alt=""/>        -->
        <!-- <label for="" >{{item.titulo}}</label> -->
     
        </ion-card> 
      </ion-col>        
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content>
        <div align="center">
            <h2>Una vez que el vehiculo sea vendido no olvide cambiar el estado del motorizado</h2>
            <hr>
          <ion-label>{{estado}}
          </ion-label>
          <ion-toggle slot="start" [(ngModel)]="estadoAuto" (ionFocus)=checkState($event) >
          </ion-toggle>
        </div>
        <hr>
      </ion-card-content>
    </ion-card>
  </ion-content>

