<!-- <app-header titulo= "Mi Perfil"></app-header> -->
<ion-header align="center">
    <ion-toolbar class="head">
      <ion-buttons slot="start">
        <ion-menu-button  style="color: #ffffff;"></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">Mi Perfil</ion-title>
      <ion-buttons slot="end" >
        <ion-button (click)="crearPublicacion()">
          <ion-icon color="light" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col size="6">
          <img class="avatar"
          [src]="data.foto ? data.foto : img">
      </ion-col>
      <ion-col size="6">
        <div class="button-perfil">
            <ion-button class="btns"
            (click)="EditarPerfil()">
            Editar Perfil</ion-button>
            <ion-button class="btns"
            (click)="logout()">
            Cerrar sesión</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-item class="box">
      <ion-label>
      <h3>Nombre: {{data.nombre_completo}}</h3>
      <p>E-mail: {{data.email}}</p>
      <p>Celular: {{data.celular}}</p>
        <!-- <p>Cuidad</p> -->
      </ion-label>
    </ion-item>
  </div>
  <br>


  <ion-segment [(ngModel)]="categoria" (ionChange)="itemSave($event)">
    <ion-segment-button value="publicaciones">
      <ion-label >Publicaciones</ion-label>
      <ion-icon name="cart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favoritos">
      <ion-label >Favoritos</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="categoria">
    <ion-list *ngSwitchCase="'publicaciones'" #lista>
      <ion-item *ngIf="!misPublicaciones" >
        <ion-label>Bienvenidos a publicaciones</ion-label>
      </ion-item>
        <ion-item-sliding *ngFor="let item of misPublicaciones">
        <ion-item (click)="detallePublicacion(item)">
          <ion-thumbnail slot="start">
            <img [src]="item.foto ? item.foto : imgNotCar">
          </ion-thumbnail>
          <ion-label>
            <h3>{{item.nombre}}</h3>
          <p>{{item.precio}}$</p>
          <p>{{item.estado}}</p>
          
          </ion-label>
          <div align="right">
            <label >Deslizar</label> 
           </div>
        </ion-item>
        <ion-item-options side="end" expandable >
            <ion-item-option color="success" expandable (click)="editarVehiculo(item.id)">
                <ion-icon  slot="top" name="create"></ion-icon>
                    <p>Editar</p>
              </ion-item-option>
              <ion-item-option color="danger" expandable (click)="estadisticasVehiculo(item.id, item.estado)">
                  <!-- <ion-icon slot="top"  name="<ion-icon name="stats-chart-outline"></ion-icon>"></ion-icon> -->
                  <ion-icon  slot="top" name="trending-up"></ion-icon>

                      <p >Estadisticas</p>
              </ion-item-option>
              <ion-item-option color="tertiary" expandable (click)="galleriaAutomovil(item.id)">
                <ion-icon  slot="top" name="images"></ion-icon>
                <p>Fotos</p>
              </ion-item-option>
          </ion-item-options>
          </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'favoritos'">
        <ion-item *ngIf="!misFavoritos" >
            <ion-label>Bienvenidos a Favoritos</ion-label>
          </ion-item>
          <ion-item-sliding  *ngFor="let item of misFavoritos">

            <ion-item (click)="detallePublicacion(item)">
              <ion-thumbnail slot="start">
                <img [src]="item.foto ? item.foto : imgNotCar">
              </ion-thumbnail>
              <ion-label>
                <h3>{{item.nombre}}</h3>
              <p>{{item.precio}}$</p>
              <p>{{item.estado}}</p>
               
              </ion-label>
              <div align="right">
                <label >Ver</label> 
               </div>
            </ion-item>
            <ion-item-options side="end" expandable >

            <ion-item-option color="danger" expandable (click)="deleteFavorito(item.idfavorito)">
                <ion-icon  slot="top" name="trash"></ion-icon>
                <p>Quitar</p>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->