.avatar {    
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: solid 3px #505050;
    display: inline;
    box-shadow: 0 0 28px rgba(255,255,255, .65);    
    margin-top: 5px;
    margin-left: 15px;
  }
  .icoc{
    zoom: 1.5;
    color: white;
  }
  .button-perfil{
    position: absolute;
    bottom: 20px;
  }

  ion-segment-button{
    --background-checked:#572263;
    // --background: #572263;

    --color-checked: white;
  }
         


