<ion-header>
  <ion-toolbar class="head">
    <ion-buttons slot="start" (click)="back()">
      <!-- <ion-back-button color="light"></ion-back-button> -->
      <ion-icon slot="start" name="arrow-back" color="light"></ion-icon>
    </ion-buttons>
  <ion-title align="center" color="light">Galeria de Fotos</ion-title>
  <ion-buttons slot="end">
    <ion-menu-button  style="color: #ffffff;"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of imageAllProducto" >
          <ion-card >
            <img [src]="item.foto" />
          </ion-card>
          <div align="center">
              <ion-button icon-left color="danger" (click)="deleteFotography(item.id)">
                  <ion-icon name="close"></ion-icon> 
              </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-fab class="head" horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button  (click)="addImage()">
        <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    </ion-fab>

    
</ion-content>
