<app-header titulo="Publicaciones"></app-header>

<ion-content class="ion-padding">
  <ion-list #lista>
    <ion-item-sliding *ngFor="let post of arrayPosts">
      <ion-item>
        <ion-img
          src="https://cdn.aarp.net/content/dam/aarp/auto/2017/07/1140-hyundai-ioniq-great-cars-road-trips-esp.imgcache.revfd63981c76a67e8a4ed28622bb76883e.web.900.513.jpg"
          (click)="DetalleAuto()" style="width: 110px; height: 90px;"></ion-img>
        <ion-label class="datos">
          <h3>{{ post.address.city }}</h3>
          <p>{{ post.username }}</p>
          <ion-button class="precio">{{ post.address.zipcode }} $</ion-button>
         
        </ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option (click)="favorite()">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="share()">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>

      </ion-item-options>

      <ion-item-options side="end">

        <ion-item-option color="danger" (click)="borrar()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<app-footer></app-footer>