
ion-card {
    -webkit-border-radius: 25px 25px 0px 0px;
    border-radius: 40px 40px 0px 0px;
    overflow: unset !important;
    height: 160px;
    width: 280px;
    margin-top: 40px;
}

img{
    width: 1024px;
    height: 300px;
    background: black;
    // position: fixed;
    // position: absolute;
}

.datos{
    margin-left: 15px;
    margin-right: 25px;
    font-size: small;
}
.ion-float-end{    
    zoom: 1.2; 
    color: #ffffff; 
    margin-right: 2px;
}
.icotrash{
    zoom: 2;
    color: darkred;
    
}