<!-- <app-header titulo="Detalles">
  <ion-icon name="heart-half" class="ion-float-end"></ion-icon>
</app-header> -->
<!--el icono de favoritos no se muestra -->
<ion-header >
  <ion-toolbar class="head">
      <ion-buttons slot="start">
          <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
    <ion-title style="color: #ffffff;"> Detalle</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button  style="color: #ffffff;"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-slides page>
        <ion-slide *ngFor="let foto of arrayPosts.imagenes_autos">
            <img
              [src]="foto">
        </ion-slide>
      </ion-slides>
  <div align="center">
    <ion-icon class="icod" name="heart" class="icod" (click)="addFavorito()"></ion-icon>
  </div>
  <div align="center">
    <h2>PRECIO: {{arrayPosts.precio}} $</h2>
  </div>
  <div>
    <ion-item class="datos">
    <p>MARCA:{{arrayPosts.marca}}</p>
    </ion-item>
    <ion-item class="datos">
    <p>MODELO:{{arrayPosts.modelo}}</p>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item style="font-size: small; margin-left: 5px;">
          <p>AÑO:{{arrayPosts.anho}}</p>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item style="font-size: small; margin-right: 15px;">
          <p>COLOR:{{arrayPosts.color}}</p>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item style="font-size: small; margin-left: 5px;">
          <p>PUERTAS:{{arrayPosts.puertas}}</p>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item style="font-size: small; margin-right: 15px;">
          <p>CILINDRADA:{{arrayPosts.cilindrada}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item class="datos">
    <p>TIPO DE COMBUSTIBLE:{{arrayPosts.tipo_combustible}}</p>
    </ion-item>
    <ion-item class="datos">
    <p>CIUDAD:{{arrayPosts.ciudad}}</p>
    </ion-item>
    <ion-item class="datos">
    <p align="justify">CARACTERISTICAS:{{arrayPosts.caracteristicas}}</p>
    </ion-item>
  </div>
  <br>
  <ion-button class="btns" expand="block" (click)="presentActionSheet()">Contactar</ion-button>
</ion-content>
