<app-header titulo= "Empresas"></app-header>


  <ion-content  ion-padding>  
    <ion-grid>
      <ion-row >
        <ion-col size="6" *ngFor="let item of arrayPosts">
        <ion-card class="box" (click)="DetalleEmpresa(item)" >
          <img [src]="item.foto" alt=""/>       
          
        </ion-card> 
      </ion-col>        
      </ion-row>
    </ion-grid>
  </ion-content>

<app-footer></app-footer>