
<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-content>
<ion-footer align="center">
  <ion-button class="btns" expand="round" (click)="presentActionSheet()"><ion-icon name="contact" class="icow"></ion-icon></ion-button>
</ion-footer>
  

