<ion-header>
  <ion-toolbar class="head">
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
    <ion-title align="center" color="light">Agregar Imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
      <img  [src]="imgOficial">      
  </div>
    <div align="center">
            <ion-button  class="head" (click)="takephoto()" >
                <ion-icon name="camera"></ion-icon>
                &nbsp;&nbsp;Camara
            </ion-button>
            <ion-button  class="head" (click)="getimage()" >
                <ion-icon name="images"></ion-icon>
                &nbsp;&nbsp;Album
            </ion-button>
    </div>
    <div align="center">
      <ion-button [disabled]="buttonOn" class="head" (click)="saveFotografia()">Guardar</ion-button>
    </div>

</ion-content>
