<ion-content class="animated fadeIn login auth-page"> 
  <div class="auth-content">

    
    <div style="margin-top: 100px;">
      <ion-text style="margin-left: 15px; font-size: xx-large;">
          <strong>Login</strong>
        </ion-text>      
    </div>
    <br>
    <br>    
    <ion-item class="box">
      <ion-label>Email: </ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <br>
    <ion-item class="box">
      <ion-label>Constraseña: </ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <br>
    
    <div id="buttons-link">
      <ion-button class="btns" expand="block" (click)="ingresar()" >
        Ingresar
      </ion-button>
      
      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="6">
            <ion-button class="btnfacebook" shape="round" expand="full">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
            
          <ion-col size="6">
            <ion-button color="danger" class="btngoogle" shape="round" expand="full">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>  
  </div>
  <br>
  <br>
  <div class="ion-text-center">
  <ion-text (click)="registrarse()">
    ¿No tines cuenta? <strong>Registrarse</strong>
  </ion-text> 
</div>
</ion-content>


