<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="menu-side">
        <ion-icon name="close" style="color: #ffffff; margin-top: 5px; margin-left: 5px; zoom:2.0;" (click)="closeMenu()"></ion-icon>          
          <div align="center">
              <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg">

          <!-- <ion-card-content class="bg-profile" >
            <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg">
            <ion-text color="light" ion-text-center>
              <h2><strong>Nombre de Usuario</strong></h2>
            </ion-text>
            <ion-menu-toggle auto-hide="false" >
              <a class="text08" tappable (click)="perfil()">
                <ion-text color="light" ion-text-center>                    
                  <strong>Perfil</strong>
                </ion-text>
              </a> <ion-text color="secondary"> | </ion-text> 
              <a class="text08" tappable (click)="logout()">
                <ion-text color="light" ion-text-center>                    
                  <strong>Cerrar Sesión</strong>
                </ion-text>
              </a>
            </ion-menu-toggle>
          </ion-card-content> -->
        </div> 
        <hr>     
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" >
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" >
              <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
              <ion-label color="light" style="font-size: large;">
                <strong>{{p.title}}</strong>                
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>      
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

