:host {
    ion-content {
      --background: linear-gradient(200deg, #3a1743, #f28f29);
    } 
}

img {
    
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 3px #fff;
    display: inline;
    box-shadow: 0 0 28px rgba(255,255,255, .65);    
  } 
  ion-list{
      background: transparent;
  } 
  ion-item{
    --background:transparent;
  }     


  
  