<ion-header>
  <ion-toolbar class="head">
    <!-- <ion-buttons slot="start">
      <ion-menu-button  style="color: #ffffff;"></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      Agregar Vehiculo
    </ion-title>
  </ion-toolbar> 
</ion-header>
<ion-content>
 

  <div align="center">
    <h3>Información basica</h3>
    <ion-item class="box"> 
      <ion-label>Nombre:</ion-label>
      <ion-input [(ngModel)]="nombre" placeholder="Nissan pathfinder"></ion-input>  
  </ion-item>
  <br>
	<ion-item class="box">
	  <ion-label class="fw500">Ciudad</ion-label>
	  <ion-select [(ngModel)]="ciudad" multiple="false">
	    <ion-select-option>La Paz</ion-select-option>
	    <ion-select-option>Santa Cruz</ion-select-option>
	    <ion-select-option>Cochabamba</ion-select-option>
	    <ion-select-option>Potosi</ion-select-option>
	    <ion-select-option>Oruro</ion-select-option>
	    <ion-select-option>Beni</ion-select-option>
	    <ion-select-option>Pando</ion-select-option>
	    <ion-select-option>Tarija</ion-select-option>
	    <ion-select-option>Sucre</ion-select-option>
	  </ion-select>
	</ion-item>
<br>
<ion-item class="box">
  <ion-label class="fw500">Tipo de Vehiculo</ion-label>
  <ion-select [(ngModel)]="tipo_vehiculo" multiple="false">
    <ion-select-option *ngFor="let item of tipoVehiculo" [value]="item.id">{{item.nombre}}</ion-select-option>
  </ion-select>
</ion-item>
<br>
<ion-item class="box" >
  <ion-label class="fw500">Marca</ion-label>
  <ion-select  [(ngModel)]="marca"  (ionChange)="callModelos($event)">
  <ion-select-option *ngFor="let item of marcas"  value="{{item.id}}">{{item.nombre}}</ion-select-option>
  </ion-select>
</ion-item>
<br>
<ion-item class="box">
  <ion-label class="fw500" >Modelo</ion-label>
  <ion-select [(ngModel)]="modelo" (ionChange)="verifyMarca($event)">
  <ion-select-option *ngFor="let item of modelos" [value]="item.id" >{{item.nombre}}</ion-select-option>                
  </ion-select>
</ion-item> 
<br>  
<div>
<ion-item class="box">
  <ion-label class="fw500">Color</ion-label>
  <input type="text" [(ngModel)]="color" multiple="false">
</ion-item>
</div>
<br> 
<div>
<ion-item class="box"> 
  <ion-label class="fw500">Cilindrada:</ion-label>
  <ion-input type="text" [(ngModel)]="cilindrada"></ion-input>  
</ion-item>
</div>
<br>
<ion-item class="box">
  <ion-label class="fw500">Combustible</ion-label>
  <ion-select [(ngModel)]="combustible" multiple="false">
    <ion-select-option value="gasolina">Gasolina</ion-select-option>
    <ion-select-option value="gnv">GNV</ion-select-option>
    <ion-select-option value="diesel">Diesel</ion-select-option>   
    <ion-select-option value="diesel/gnv">Diesel/GNV</ion-select-option>                  
    <ion-select-option value="gasolina/gnv">Gasolina/GNV</ion-select-option>                  

  </ion-select>
</ion-item>
<br>
<ion-item class="box">
  <ion-label class="fw500">Caja</ion-label>
  <ion-select [(ngModel)]="caja" multiple="false">
    <ion-select-option value="automatica">Automatica</ion-select-option>
    <ion-select-option value="mecanica">Mecanica</ion-select-option>
    <ion-select-option value="secuencial">Secuencial</ion-select-option>                  
  </ion-select>
</ion-item>
<br>

<ion-item class="box">
  <ion-label class="fw500">Año</ion-label>
  <!-- <ion-datetime [(ngModel)]="anho" placeholder="YYYY"
                display-format="YYYY"
                min="1950"
                max="2025"
                value="2021" 
                displayFormat="YYYY" pickerFormat="YYYY" >
                
  </ion-datetime> -->
  <ion-input type="number" [(ngModel)]="anho"></ion-input>
</ion-item> 
<br>
       
  <div>
  <ion-item class="box"> 
      <ion-label class="fw500">Precio:</ion-label>
      <ion-input type="number" [(ngModel)]="precio"></ion-input>  
  </ion-item>
  </div>
  <br>
  <div>
    <ion-item class="box"> 
        <ion-label class="fw500">Numero de puertas:</ion-label>
        <ion-input type="text" [(ngModel)]="puertas"></ion-input>  
    </ion-item>
    </div>
    <br>
  <div>
    <ion-item class="box"> 
      <textarea [(ngModel)]="caracteristicas" name="" id="" cols="40" rows="10" placeholder="Caracteristicas"></textarea>
      </ion-item>
    </div>
    <br>  

</div>
<div align="center">
  <!-- <div>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</div>
  <ion-icon class="icod" name="camera"></ion-icon> -->
  <ion-button  class="button-publicacion" expand="block" fill="outline" (click)="takephoto()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Tomar fotografia</ion-button>
    <ion-button  class="button-publicacion"  expand="block" fill="outline" (click)="getimage()">
      <ion-icon slot="start" name="add"></ion-icon>
      Seleccionar fotografia</ion-button>
     <ion-row>
       <ion-col size="4" *ngFor="let item of fotografias; index as key" >
         <img [src]="item.foto" alt="">
         <div align="center">
          <ion-button icon-left color="danger" (click)="removeItem(key)">
              <ion-icon name="close"></ion-icon> 
          </ion-button>
          </div>
       </ion-col>
     </ion-row>
</div>
<div id="buttons-link" align="center">
  <ion-button expand="block" class="btns" (click)="addVehiculoVecom()">
    Guardar
  </ion-button>
</div>
</ion-content>


