<app-header titulo= "Buscador"></app-header>

<ion-content>
  <br>
	<ion-item class="box">
	  <ion-label class="fw500">Ciudad</ion-label>
	  <ion-select [(ngModel)]="ciudad" multiple="false">
	    <ion-select-option>La Paz</ion-select-option>
	    <ion-select-option>Santa Cruz</ion-select-option>
	    <ion-select-option>Cochabamba</ion-select-option>
	    <ion-select-option>Potosi</ion-select-option>
	    <ion-select-option>Oruro</ion-select-option>
	    <ion-select-option>Beni</ion-select-option>
	    <ion-select-option>Pando</ion-select-option>
	    <ion-select-option>Brazilian</ion-select-option>
	    <ion-select-option>Thai</ion-select-option>
	  </ion-select>
	</ion-item>
<br>
<ion-item class="box">
  <ion-label class="fw500">Tipo de Vehiculo</ion-label>
  <ion-select [(ngModel)]="tipo" multiple="false">
    <ion-select-option>Motocicleta</ion-select-option>
    <ion-select-option>Automovil</ion-select-option>
  </ion-select>
</ion-item>
<br>
<ion-item class="box">
  <ion-label class="fw500">Marca</ion-label>
  <ion-select [(ngModel)]="marca" multiple="false">
    <ion-select-option></ion-select-option>
    <ion-select-option></ion-select-option>
    <ion-select-option></ion-select-option>
    <ion-select-option></ion-select-option>
    <ion-select-option></ion-select-option>
    <ion-select-option></ion-select-option>
  </ion-select>
</ion-item>
<br>
<ion-item class="box">
  <ion-label class="fw500">Modelo</ion-label>
  <ion-select [(ngModel)]="modelo" multiple="false">
    <ion-select-option></ion-select-option>
    <ion-select-option></ion-select-option>
    <ion-select-option></ion-select-option>
    <ion-select-option></ion-select-option>
    <ion-select-option></ion-select-option>
    <ion-select-option></ion-select-option>
  </ion-select>
</ion-item>
<br>
	<ion-item ion-margin-bottom class="box">
	  <ion-label>
      <ion-text>Precio</ion-text>
    </ion-label>
      <ion-range dualKnobs="true" [(ngModel)]="minmaxprice" min="5000" max="100000" step="500">
        <ion-label slot="start"><ion-text>$ {{minmaxprice.lower}}</ion-text></ion-label>
        <ion-label slot="end"><ion-text>$ {{minmaxprice.upper}}</ion-text></ion-label>
      </ion-range>
  </ion-item>  
        <ion-grid>
          <ion-row >
            <ion-col size="6">
              <ion-item class="divbox">
                <ion-label style="font-size: small;">Año Desde</ion-label>
                <ion-datetime placeholder="YYYY"
                              display-format="YYYY"
                              min="1980"
                              max="2025"
                              value="2021">
                </ion-datetime>
              </ion-item>     
            </ion-col>              
            <ion-col size="6">
              <ion-item class="divbox">
                <ion-label style="font-size: small;">Año Hasta</ion-label>
                <ion-datetime placeholder="YYYY"
                              display-format="YYYY"
                              min="1980"
                              max="2025"
                              value="2021">
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
	<ion-button class="btns" expand="block" (click)="buscar()">Buscar</ion-button>
</ion-content>

<app-footer></app-footer>