.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.table{  
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlehome{
  text-align: center;
}
.box{
  color: #f28f29;
}
app-footer{
  height: 60px;
}

