<app-header titulo= "Inicio"></app-header>

<ion-content  ion-padding>  
  <ion-grid>
    <ion-row >
      <ion-col size="6">
      <ion-card class="box" (click)="AutoventaPage()">
        <img src="/assets/search.png" alt=""/>       
        <h3 class="titlehome">Auto-Venta</h3>
      </ion-card> 
    </ion-col> 
      <ion-col size="6">   
        <ion-card class="box" (click)="DetalleEmpresaPage()">
          <img src="/assets/search.png" alt=""/>              
          <h3 class="titlehome">Empresas</h3>
        </ion-card>  
      </ion-col>   
      <ion-col size="6">      
      <ion-card class="box" (click)="BusquedasPage()">
        <img src="/assets/search.png" alt=""/>           
        <h3 class="titlehome">Buscador</h3>
      </ion-card>
    </ion-col> 
    <ion-col size="6"> 
        <ion-card class="box" (click)="EditarPerfilPage()">
          <img src="/assets/search.png" alt=""/>             
          <h3 class="titlehome">Mi Perfil</h3>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<app-footer></app-footer>

